{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='indexheader.png') }}" class="header">
<h2>{{ header }}</h2>
<div class=info>
        <br>
        {% if rating >= 0 and rating < 1 %}
        <img src="{{ url_for('static', filename='0stars.png') }}" class="rating">
        {% endif %}
        {% if rating >= 1 and rating < 2 %}
        <img src="{{ url_for('static', filename='1stars.png') }}" class="rating">
        {% endif %}
        {% if rating >= 2 and rating < 3 %}
        <img src="{{ url_for('static', filename='2stars.png') }}" class="rating">
        {% endif %}
        {% if rating >= 3 and rating < 4 %}
        <img src="{{ url_for('static', filename='3stars.png') }}" class="rating">
        {% endif %}
        {% if rating >= 4 and rating < 5 %}
        <img src="{{ url_for('static', filename='4stars.png') }}" class="rating">
        {% endif %}
        {% if rating == 5%}
        <img src="{{ url_for('static', filename='5stars.png') }}" class="rating">
        {% endif %}
        <p><b>Rating:</b> {{ rating }}</p>
</div>

    {% for entry in entries %}
        <p class=entry>
        <br> {{ entry.title }}
        <br> Rating: {{ entry.rating }}
        <br> Illness Treated: {{ entry.illness }}
        <br> {{ entry.body }}
        </p>
    {% endfor %}
{% endblock %}

