<!doctype html>
<html>
<title>rxReviews</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
	<a href="{{ url_for('list')}}"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
    {% block content %}{% endblock %}
</div>
</html>
