{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='listheader.png') }}" class="header">
<br>
<br>
<br>
<br>
<br>
    <table>
        {% for generic_name in generic_names %}
	{% if generic_name and generic_name.strip() %}
	    <p class="border"> {{ generic_name }} <a style="text-decoration:none" href="{{ url_for('sign', generic_name=generic_name)}}">Review</a> or <a style="text-decoration:none" href="{{ url_for('index', generic_name=generic_name)}}">View</a> </p> 
	    <br>
	    <br>
	    <br>
	{% endif %}
        {% endfor %}
    </table>
{% endblock %}

