{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='signheader.png') }}" class="header">
<h2>{{ header }}</h2>
<form action="{{ url_for('sign', generic_name=header) }}" method=post>
        <p class="heading">Title: <input type=text name=title></p>
        <p class="heading">Rating: <input type=float name=rating></p>
        <p class="heading">Illness Treated: <input type=text name=illness></p>
        <p class="heading">Review:
        <textarea rows=5 cols=50 name=body></textarea></p>
        <p><input type=submit value=Submit></p>
    </form>
{% endblock %}
