body       { font-family: "Verdana", sans-serif; font-size: 20px; color: #000000; }
h1, h2  { margin-left: 197px; margin-top: 64px; font-weight: normal; color: #6BA0FA; font-family: "Verdana", sans-serif;}
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
.heading  { font-weight: bold; }
.page      { margin:.1em auto; padding:.1em; width: 504px;  }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; }
.logo { position: absolute; top: 20px; left: 20px; width: 200px; height: auto;}
.header { position: absolute; top: 70px; left: 300px; width: auto; height: 45px; margin-bottom: 10px;}
.border { position: absolute; left: 300px; color: #000000; font-family: "Verdana", sans-serif; border-width:1px; border-style:solid; border-color:#6BA0FA; padding:19px; margin:2em; width: 550px; height: 1em; }
.info {margin-left:-110px;}
.rating {position: absolute; top: 40px; left: 278px; width: auto; height: 200px;}
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
